gensim~=3.8.1
tqdm~=4.43.0
matplotlib~=3.1.1
nltk
numpy~=1.18.1
pandas~=1.0.0
RISparser~=0.4.3
scikit-learn~=0.22.1
regex~=2020.1.8
scipy~=1.3.2
sklearn~=0.0
prompt_toolkit~=3.0.3
joblib~=0.14.1
seaborn~=0.10.1
active-semi-supervised-clustering
