gensim
tqdm
matplotlib
nltk
numpy
pandas
RISparser
scikit-learn
regex
scipy
joblib
seaborn
active-semi-supervised-clustering
psutil
treetaggerwrapper
git+https://github.com/robolab-pavia/fawoc.git
tabulate
Jinja2
tomlkit
git+https://github.com/robolab-pavia/slr-kit-utils.git
deap